{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <p><font size=6><strong>Video Clips Aggregate</strong></font></p>
  <p>Commedy skits, News bits, Vlogs & Stories from all over Africa.</p>
</div>

  {% for row in videos  %}
  <div class="col-md-4">
    <div class="panel panel-primary">
    {% for video in row %}
     <h4>{{ video.title }}</h4>
    <iframe  width="350" height="320" src="{{ video.embed_code }}" frameborder="0"></iframe>
    {% endfor %}
  </div>
  </div>

 {% endfor %}

 <div class="pagination" >
   <strong> <font size="5">
   <span class="step-links">
       {% if videos.has_previous %}
           <a href="?page={{ videos.previous_page_number }}">Previous</a>
       {% endif %}
       <span class="current">
           Page {{ videos.number }} of {{ videos.paginator.num_pages }}
       </span>
       {% if videos.has_next %}
           <a href="?page={{ videos.next_page_number }}"> Next</a>
       {% endif %}
   </span>
   </font></strong>
</div>

{% endblock content %}
