{% extends "news/base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Africa Gists</h1>
    <p>News from all over Africa.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  {% for row in rows %}
    <div class="col-md-4">
      {% for entry in row %}
        <h2>{{entry.title}}</h2>
        <p>{{ enrty.description | safe }}</p>
        <p>
          <a href="{{entry.url}}" target="_blank" class="btn btn-primary">Veiw Details</a>
        </p>
      {% endfor %}
    </div>
  {% endfor %}

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->

{% endblock %}
