.jumbotron {
    border-width: thick;
    border-color: red;
    background-image: url("africa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: pink;
    height: 220px;
}
.nav {
  height: 5px;
}

.pagination {
  align-self: baseline;
}

.panel {
  align-content: center;
  border-style: groove;
  text-align: center;
}
.panel-heading {

  text-align: center;
}
footer {
  align: center;
}
