{% extends "base.html" %}
{% block video_content %}
<div class="list-group">
  <a href="#" class="list-group-item active">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
</div>
{% endblock video_content %}
